@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto:wght@100;300&display=swap');

* {
    font-family: 'Roboto', sans-serif;       
}

a {
    text-decoration: none;
}

.bt-wtp {
    background-color: #61ce70;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px;        
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-section {
    text-align: center;
    font-size: 35px;
    color: #0b292f;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: #29716a;
}