@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');

body {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: 'League Spartan', sans-serif;
    background-color: #f8f9fa;
    width: 1366px;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    box-sizing: content-box;
}

.logo img {
    height: 80px;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu a {
    text-decoration: none;
    font-size: 25px;
    padding: 10px 15px;
    font-weight: 600;
    color: #B73575;
}

.menu a:hover {
    background-color: #B73575;
    color: #fff;
    border-radius: 5px;
    transition: 1s;
}

.content {    
    display: block;
    text-align: center;      
}

.content h1 {
    font-size: 50px;    
    color: #B73575;
}

.content p {
    font-size: 35px;
    padding-top: 20px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

button {
    display: block;    
    margin-left: auto;
    margin-right: auto;
    background-color: #B73575;
    color: #fff;
    border-style: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    padding: 20px;
}

button:hover {
    background-color: #fff;
    color: #000;
    transition: 1s;
}

.carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.product {
    display: inline-block;
    width: 350px;
    box-sizing: content-box;    
    background-color: #e9ecef;
    border-radius: 10px;
    margin-top: 50px;
}

.product h2 {
    text-align: center;
    color: #B73575;

}

.product p {
    padding: 10px;
    font-size: 25px;
    text-align: center;
}

.product img {
    width: 100%;
    max-height: 50%;
}